<div class="pull-right">
    <a href="#!/create" class="btn btn-danger" ng-show="hasRole('ROLE_ADMIN')" title="Create"><span
            class="fa fa-plus"></span></a>
</div>
<div class="alert alert-success">
    <h3>listar Clientes</h3>
</div>

<div class="table table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>DNI/RUC</th>
            <th>Nombres/Razón Social</th>
            <th>Estado</th>
            <th>Email</th>
            <th>Direccion</th>
            <th>Edit.</th>
        </tr>
        </thead>
        <tr ng-repeat="cliente in clientes">
            <td> {{cliente.numeroDniRuc}}</td>
            <td>{{cliente.razonSocialNombre}}</td>
            <td>{{cliente.estado}}</td>
            <td>{{cliente.email}}</td>
            <td>{{cliente.direccion}}</td>
            <td style="text-align: center;">
                <a href="" ng-click="deletePost(cliente)" class="btn btn-xs btn-default"
                   ng-show="hasRole('ROLE_ADMIN')"
                   title="delete"><span class="fa fa-trash-o"></span></a>
                <a href="#!/edit/{{cliente.id}}" class="btn btn-xs btn-default" ng-show="hasRole('ROLE_ADMIN')"
                   title="edit"><span class="fa fa-pencil"></span></a>
            </td>
        </tr>

    </table>

</div>

<hr/>
