<div class="pull-right">
    <a href="#!/productCreate" class="btn btn-danger" ng-show="hasRole('ROLE_ADMIN')" title="Create"><span class="fa fa-plus"></span></a>
</div>
<div class="alert alert-success">
    <h3>lista de Productos</h3>
</div>

<div class="table table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Producto</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>OPC</th>
        </tr>
        </thead>
        <tr ng-repeat="product in products">
            <td>{{product.nameProduct}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>{{product.status}}</td>
            <td style="text-align: center;">  <a href="" ng-click="deletePost(product)" class="btn btn-xs btn-default" ng-show="hasRole('ROLE_ADMIN')"
                     title="delete"><span class="fa fa-trash-o"></span></a>
                <a href="#!/productEdit/{{product.id}}" class="btn btn-xs btn-default" ng-show="hasRole('ROLE_ADMIN')"
                   title="edit"><span class="fa fa-pencil"></span></a></td>
        </tr>

    </table>

</div>

<hr />
