<div class="alert alert-success">
    <h3>Editar Producto</h3>
</div>

<form class="row">
    <div class="form-group">
        <div class="col-xs-12 col-sm-6 col-md-4">
        <label class="control-label" for="nameProduct">Nombre de producto</label>
            <input ng-model="product.nameProduct" id="numeroRuc" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <label class="control-label" for="description">Descripcion</label>
            <input ng-model="product.description" id="description" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <label class="control-label" for="price">Precio</label>
            <input ng-model="product.price" id="price" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <label class="control-label" for="status">Estado</label>
            <input ng-model="product.status" id="status" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary" ng-click="save()"><span class="fa fa-check"></span> Guardar</button>
        </div>
    </div>
</form>